.container {
    margin-left: 10%;
    width: 60%;
}

.help-inline {
    color: red;
}

textarea {
    min-height: 300px;
}

@media screen and (min-width: 800px) {
    .container {
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
    }
}