<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blahg</title>
    {% block jquery %}
        <!-- Load jQuery here if necessary -->
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    {% block bootstrap_js %}
        <!-- If specified in template, bootstrap js will load here -->
    {% endblock %}
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/font-awesome-4.6.3/css/font-awesome.min.css">

    {% block styles %}
        <!-- Page-specific style sheets will be imported here by Jinja2 -->
    {% endblock %}
    {% block javascript %}
        <!-- Page-specific javascript links will appear here -->
    {% endblock %}
</head>
<body class="container">
<header class="header row">
    <div class="title col-xs-4">
        <a href="/"><h1>Blahg</h1></a>

        </div>
    <div class="user-options col-xs-8">
        {% if current_user %}
            <a class="btn btn-outline-primary" href="/new">New Post</a>
            <a class="btn btn-outline-secondary" href="/logout">Logout</a>
        {% else %}
            <a class="btn btn-outline-secondary" href="/login">Login</a>
            <a class="btn btn-outline-secondary" href="/signup">Signup</a>
        {% endif %}
    </div>
</header>
{% block message %}
    <!-- If there is an alert message, it will be rendered here -->
{% endblock %}

{% block content %}
    <!-- Main content of the page will be imported here -->
{% endblock %}


{% block footer %}
    <!-- Page footer will be imported here -->
{% endblock %}

</body>
</html>